<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <header>
      <h2>Sinatra CRUD</h2>
      <h4>Getting DB things done</h4>
      <hr>
    </header>

    <%= yield %>

    <footer>
      <hr>
    &copy; 2015 SinatraWorkForce!
    </footer>
  </body>
</html>
